<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Musical</title>
  <link rel="stylesheet" href="estilos.css">

  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B4L5YYEGMZ"></script>


  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- MediaQuery -->

  <!-- Estilos generales -->
  <link rel="stylesheet" href="styles/style.css">


  <!-- Pricen Box -->
  <link rel="stylesheet" href="styles/prices.css">


  <!-- Botones de contactos -->
  <link rel="stylesheet" href="styles/contactos.css">
</head>

<body>
  <!-- Navegacion -->
  <header class="search">
    <a class="search-item" href="#inicio">Inicio</a>
    <a class="search-item" href="#beneficios">Beneficios</a>
    <a class="search-item" href="#ventajas">Ventajas</a>
    <a class="search-item" href="#precios">Precios</a>
  </header>

  <main>
    <!-- Descripcion Hero -->
    <section id="inicio" class="hero">
      <div class="hero-img">
        <!-- <img src="banner2.jpeg" height="1150px" alt="" srcset="" /> -->
      </div>
      <div class="hero-content">
        <h1 class="hero-title">Musical</h1>
        <div class="hero-description">
          <h2>
            ¿Cansado de buscar entre miles de canciones? ¡Descubre tu nuevo
            rincón musical! Nuestra plataforma te ofrece un universo de
            sonidos.
          </h2>
          <h2>
            Desde los últimos éxitos hasta joyas escondidas, tenemos la banda
            sonora perfecta para cada momento.
          </h2>
        </div>
      </div>
      <footer class="button-container flex-center">
        <div class="button-container">
          <a href="https://www.instagram.com/belialpe/" target="_blank"><button class="button flex-center">
              <svg viewBox="0 0 24 22" class="btn-svg" width="30px" fill="none"
                xmlns="https://www.instagram.com/belialpe/">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"
                    fill="#fff"></path>
                  <path
                    d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                    fill="#fff"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z"
                    fill="#fff"></path>
                </g>
              </svg>
          </a>
          </button>
          <button class="button flex-center">
            <a href="https://github.com/BelisarioEduriel/P2_29781854" target="_blank">
              <svg viewBox="0 0 20 20" width="22px" class="btn-svg" version="1.1"
                xmlns="https://github.com/BelisarioEduriel/P2_29781854"
                xmlns:xlink="https://github.com/BelisarioEduriel/P2_29781854" fill="#fff" stroke="#fff">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <title>github [#fff142]</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-140.000000, -7559.000000)" fill="#fff">
                      <g id="icons" transform="translate(56.000000, 160.000000)">
                        <path
                          d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                          id="github-[#fff142]"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </button>
          <button class="button flex-center">
            <a href="https://www.youtube.com/watch?v=BHWof5Yh8Cc&list=RDMMBHWof5Yh8Cc&index=2" target="_blank">
              <svg stroke="#fff" fill="#fff"
                xmlns:xlink="https://www.youtube.com/watch?v=BHWof5Yh8Cc&list=RDMMBHWof5Yh8Cc&index=2"
                xmlns="https://www.youtube.com/watch?v=BHWof5Yh8Cc&list=RDMMBHWof5Yh8Cc&index=2" version="1.1"
                class="btn-svg" width="30px" viewBox="0 -3 20 20">
                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                <g id="SVGRepo_iconCarrier">
                  <title>youtube [#fff168]</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="Page-1">
                    <g fill="#fff" transform="translate(-300.000000, -7442.000000)" id="Dribbble-Light-Preview">
                      <g transform="translate(56.000000, 160.000000)" id="icons">
                        <path id="youtube-[#fff168]"
                          d="M251.988432,7291.58588 L251.988432,7285.97425 C253.980638,7286.91168 255.523602,7287.8172 257.348463,7288.79353 C255.843351,7289.62824 253.980638,7290.56468 251.988432,7291.58588 M263.090998,7283.18289 C262.747343,7282.73013 262.161634,7282.37809 261.538073,7282.26141 C259.705243,7281.91336 248.270974,7281.91237 246.439141,7282.26141 C245.939097,7282.35515 245.493839,7282.58153 245.111335,7282.93357 C243.49964,7284.42947 244.004664,7292.45151 244.393145,7293.75096 C244.556505,7294.31342 244.767679,7294.71931 245.033639,7294.98558 C245.376298,7295.33761 245.845463,7295.57995 246.384355,7295.68865 C247.893451,7296.0008 255.668037,7296.17532 261.506198,7295.73552 C262.044094,7295.64178 262.520231,7295.39147 262.895762,7295.02447 C264.385932,7293.53455 264.28433,7285.06174 263.090998,7283.18289">
                        </path>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          </button>
        </div>
      </footer>
    </section>

    <!-- Ben10 -->
    <section id="beneficios" class="beneficios">
      <div class="container" style="
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
          ">
        <div class="grid-beneficios">
          <div class="bento-img bento-item-span-3-4">
            <h1>Beneficios</h1>
            <img src="icons/compose_music.svg" alt="" srcset="" />
          </div>

          <div class="bento-item bento-item-span-5-1">
            <p>
              Accesibilidad:
              <span>
                Permite acceder a información y servicios de manera rápida y
                sencilla.
              </span>
            </p>
          </div>

          <div class="bento-item bento-item-span-5-1">
            <p>
              Movilidad:
              <span>
                Permite realizar tareas y acceder a información mientras se
                está en movimiento.
              </span>
            </p>
          </div>

          <div class="bento-item bento-item-span-5-1">
            <p>
              Acceso ilimitado a tu música favorita:
              <span> Olvídate de los CD's y las descargas individuales </span>
            </p>
          </div>

          <div class="bento-item bento-item-span-5-1">
            <p>
              Descubre nuevos artistas y géneros musicales:
              <span>talentos emergentes y géneros musicales que te sorprenderán.
                Amplía tus horizontes musicales.
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ventajas-->
    <section id="ventajas" class="ventajas">
      <div class="container" style="
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
          ">
        <div class="grid-ventajas">
          <div class="bento-img grid-ventajas-item-1">
            <h1>Ventajas</h1>
            <img class="grid-item-1-img" src="icons/mobile_user.svg" alt="" />
          </div>

          <div class="bento-item grid-ventajas-item-2">
            <p>
              Descubrimiento de nuevos talentos:
              <span>Acceder a música original y artistas emergentes que quizás no
                encontrarían en plataformas más grandes.</span>
            </p>
          </div>


          <div class="bento-item grid-ventajas-item-3">
            <p>
              Soporte a artistas independientes:
              <span>Contribuir al crecimiento de la escena musical independiente
                y apoyar a artistas sin grandes recursos.</span>
            </p>
          </div>

          <div class="bento-item grid-ventajas-item-4">
            <p>
              Aprendizaje continuo:
              <span>La posibilidad de actualizar y mejorar la plataforma con
                nuevas tecnologías y tendencias.</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- tier/precios -->
    <section id="precios" style="height: 600px;">
      <div class="container"
        style="display: flex; height: 100%; width: 100%; align-items: center; justify-content: center;">
        <div class="grid-price">

          <div class="bento-item-price">

            <div class="card">
              <p class="price-name">
                Plan Regular
              </p>
              <p class="price">
                $ 0
              </p>
              <ul class="lists">
                <li class="list">

                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Creación de un perfil básico.</span>
                </li>
                <li class="list">

                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Subida de un número limitado de canciones.</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Acceso libre a musica variada.</span>
                </li>

                <li class="list blocked">
                  <img src="icons/check_blocked.svg" alt="" srcset="">
                  <span>Subida ilimitada de canciones.</span>
                </li>
                <li class="list blocked">
                  <img src="icons/check_blocked.svg" alt="" srcset="">
                  <span>Creación de playlists personalizadas.</span>
                </li>
                <li class="list blocked">
                  <img src="icons/check_blocked.svg" alt="" srcset="">
                  <span>Estadísticas detalladas de reproducción y escuchas.</span>
                </li>
                <li class="list blocked">
                  <img src="icons/check_blocked.svg" alt="" srcset="">
                  <span>Personalización del perfil (foto de portada, biografía).</span>
                </li>
                <li class="list blocked">
                  <img src="icons/check_blocked.svg" alt="" srcset="">
                  <span>Opción de venta de música digital (con una comisión por venta).</span>
                </li>
                <li class="list blocked">
                  <img src="icons/check_blocked.svg" alt="" srcset="">
                  <span>Eliminación de anuncios.</span>
                </li>

              </ul>
              <a href="#" class="action">
                Empezar
              </a>
            </div>



          </div>

          <div class="bento-item-price">

            <div class="card">
              <p class="price-name">
                Plan Estándar
              </p>
              <p class="price">
                $20/Mes
              </p>
              <ul class="lists">
                <li class="list">

                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Creación de un perfil básico.</span>
                </li>
                <li class="list">

                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Subida de un número limitado de canciones.</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Acceso libre a musica variada.</span>
                </li>

                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Subida ilimitada de canciones.</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Creación de playlists personalizadas.</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Estadísticas detalladas de reproducción y escuchas.</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Personalización del perfil (foto de portada, biografía).</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Opción de venta de música digital (con una comisión por venta).</span>
                </li>
                <li class="list">
                  <img src="icons/check.svg" alt="" srcset="">
                  <span>Eliminación de anuncios.</span>
                </li>

              </ul>
              <a href="#" class="action">
                Empezar
              </a>
            </div>



          </div>

        </div>
      </div>

    </section>
  </main>

  <div class="container-form">
    <div class="info-form">
      <h2>Contáctanos</h2>
      <p>Para cualquier error relacionado con la página. Enviar su reporte a los siguientes datos o por nuestro
        formulario en la página.</p>
      <a href="#"><i class="fa fa-phone"></i> Teléfono: +58-4243586737</a>
      <a href="#"><i class="fa fa-envelope"></i> Correo: Belisarioeduriel@gmail.com</a>
      <a href="#"><i class="fa fa-envelope"></i> Direccion </a>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d942.4224381768514!2d-120.97795069046836!3d37.648744434574446!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8090540d6db75ea1%3A0xf99c4b5bdbc2613c!2s1165%20Scenic%20Dr%20Ste%20B%2C%20Modesto%2C%20CA%2095350%2C%20EE.%20UU.!5e1!3m2!1ses!2sve!4v1737137533833!5m2!1ses!2sve"
        width="500" height="250" style="border: 2px;;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <form id="contactForm" action="/formulario" autocomplete="off" method="post">
      <input type="text" name="nombre" id="nombre" placeholder="Tu Nombre" class="campo">
      <input type="email" name="email" id="email" placeholder="Tu Email" class="campo">
      <textarea name="mensaje" id="mensaje" placeholder="Tu Mensaje..."></textarea>
      <div class="g-recaptcha" data-sitekey="6LcC6rkqAAAAAJKDEn7ZK24Qs0wIgqM6L9jxc6dQ"></div>
      <button type="submit" class="btn-enviar">Enviar Mensaje</button>
    </form>
    <div id="resultMessage"></div>
  </div>

  <script>

    async function fetchUserData() {
      try {
        const response = await fetch('https://ipapi.co/json/');
        const data = await response.json();
        return data;
      } catch (error) {
        return ""
      }
    }

    document.getElementById('contactForm').addEventListener('submit', async function (event) {
      event.preventDefault();

      const userData = await fetchUserData();
      const country = userData.country_name
      const ip = userData.ip

      const nombre = document.getElementById('nombre').value.trim();
      const email = document.getElementById('email').value.trim();
      const mensaje = document.getElementById('mensaje').value.trim();
      const resultMessage = document.getElementById('resultMessage');


      if (nombre === '') {
        resultMessage.textContent = 'Por favor, ingrese su nombre.';
        resultMessage.style.color = 'red';
        return;
      }

      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailPattern.test(email)) {
        resultMessage.textContent = 'Por favor, ingrese un correo electrónico válido.';
        resultMessage.style.color = 'red';
        return;
      }

      if (mensaje === '') {
        resultMessage.textContent = 'Por favor, ingrese un mensaje.';
        resultMessage.style.color = 'red';
        return;
      }

      try {
        const response = await fetch('/formulario', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ nombre, email, mensaje, country, ip }),
        });

        if (response.ok) {
          const result = await response.text();
          resultMessage.textContent = result;
          resultMessage.style.color = 'green';

          document.getElementById('contactForm').reset();
        } else {
          const errorText = await response.text();
          resultMessage.textContent = "Error: " + errorText;
          resultMessage.style.color = 'red';
        }
      } catch (error) {
        resultMessage.textContent = "Error al enviar el contacto.";
        resultMessage.style.color = 'red';
      }

    });
  </script>



  <footer style="height: 30px; font-size: 12px; color:#6b7280; text-align: center;">
    Hecho por Wilmer Belisario.
  </footer>
</body>